@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-ThinItalic.ttf");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-Black.ttf");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-BlackItalic.ttf");
    font-weight: 900;
    font-style: italic;
}




body {
    background-color: #121212;
    color: white;
    font-family: 'Roboto', serif;
    font-weight: 300;
    margin: 0;
    box-sizing: border-box;
    line-height: 0.5em;
}

h1 {
    background-color: rgba(255, 255, 255, 0.125);
    font-weight: 100;
    margin-top: 0;
    -webkit-app-region: drag;
    padding-bottom: 0.3em;
}

h1::before {
    background-image: url("./assets/btecify1024.png");
    background-size: 1em 1em;
    display: inline-block;
    height: 1em;
    width: 1em;
    margin-right: 0.3em;
    content: "";
    position: relative;
    top: 0.1em;
}

h2 {
    font-weight: 400;
}

h3 {
    font-weight: 300;
}

.playlists-container {
    background-color: rgba(255, 255, 255, 0.05);
}

footer {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 80%;
}

footer img {
    width: 128px;
    flex: 1;
}

.seeker {
    min-width: 16em;
    flex: 5;
    text-align: center;
}

footer button {
    flex: 1;
}

input[type=range] {
    width: calc(75% - 5em);
    margin: 5px;
    background-color: transparent;
    -webkit-appearance: none;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    background: rgba(255, 255, 255, 0.05);
    border: 0.2px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(255, 255, 255, 0.1);
}

input[type=range]::-webkit-slider-thumb {
    margin-top: -4px;
    width: 1em;
    height: 1em;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
}

