@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-ThinItalic.ttf");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-Black.ttf");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-BlackItalic.ttf");
    font-weight: 900;
    font-style: italic;
}




body {
    background-color: #121212;
    color: white;
    font-family: 'Roboto', serif;
    font-weight: 300;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.2em;
    user-select: none;
    min-width: 270px;
}

h1 {
    background-color: rgba(255, 255, 255, 0.125);
    font-weight: 100;
    margin-top: 0;
    -webkit-app-region: drag;
    padding-bottom: 0.3em;
}

h1::before {
    background-image: url("./assets/btecify1024.png");
    background-size: 1em 1em;
    display: inline-block;
    height: 1em;
    width: 1em;
    margin-right: 0.3em;
    content: "";
    position: relative;
    top: 0.1em;
}

h2 {
    font-weight: 400;
}

h3 {
    font-weight: 300;
}

.playlists-container {
    background-color: rgba(255, 255, 255, 0.05);
}

footer {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer img {
    width: 128px;
}

footer svg {
    fill: rgba(255, 255, 255, 0.8);
}

footer svg:hover {
    fill: rgba(255, 255, 255, 1);
}

footer svg.active {
    fill: rgba(0, 255, 0, 0.8);
}

footer svg.active:hover {
    fill: rgba(0, 255, 0, 1)
}

.player {
    flex: 1
}

.player-buttons {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.player-buttons > div {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.player-buttons svg {
    display: inline-block;
    fill: rgba(255, 255, 255, 0.8);
    width: 24px;
    padding: 0 10px;
}

svg.main-button {
    margin-bottom: -6px;
}

.player-buttons svg:hover {
    fill: rgba(255, 255, 255, 1);
}

.player-buttons svg.active {
    fill: rgba(0, 255, 0, 0.8);
}

.player-buttons svg.inactive {
    display: none;
}

.player-buttons #play, .player-buttons #pause {
    height: 36px;
    width: 36px;
    fill: rgba(0, 255, 0, 0.8);
}

.player-buttons #play:hover, .player-buttons #pause:hover {
    height: 36px;
    width: 36px;
        fill: rgba(0, 255, 0, 1);
}

.seeker {
    min-width: 400px;
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seeker-background {
    width: 75%;
    background: rgba(0, 0, 0, 0.2);
    margin: 5px 20px;
    border-radius: 5px;
    height: 7px;
}

.seeker-foreground {
    width: 50%;
    background: rgba(255,255,255,0.3);
    border-radius: 5px;
    height: 100%;
    display: flex;
    align-items: center;
}

.seeker-background:hover > .seeker-foreground,
.seeker-background:active > .seeker-foreground {
    background-color: rgba(0, 255, 0, 0.8);

}
/*TODO: This still looks a little bit janky*/
.seeker-thumb {
    visibility: hidden;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    margin-left: -12px;
    position: relative;
    left: 100%;
    background-color: rgba(255,255,255,1);
}

.seeker-background:hover > .seeker-foreground > .seeker-thumb,
.seeker-background:active > .seeker-foreground > .seeker-thumb {
    visibility: visible;
}

.footer-side-buttons {
    display: flex;
}

