@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-ThinItalic.ttf");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-Black.ttf");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-BlackItalic.ttf");
    font-weight: 900;
    font-style: italic;
}


html {
    height: 100%
}

body {
    background-color: #121212;
    color: white;
    font-family: 'Roboto', serif;
    font-weight: 300;
    box-sizing: border-box;
    line-height: 1.2em;
    user-select: none;
    min-width: 270px;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

h1 {
    background-color: rgba(255, 255, 255, 0.125);
    font-weight: 100;
    margin-top: 0;
    -webkit-app-region: drag;
    padding-bottom: 0.3em;
}

h1::before {
    background-image: url("./assets/btecify1024.png");
    background-size: 1em 1em;
    display: inline-block;
    height: 1em;
    width: 1em;
    margin-right: 0.3em;
    content: "";
    position: relative;
    top: 0.1em;
}

h2 {
    font-weight: 400;
}

h3 {
    font-weight: 300;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.playlists-container {
    display: flex;
    flex: 1 1 0;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.playlist-card {
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    width: 300px;
    height: 150px;
    justify-content: flex-start;
    margin: 5px;
    border-radius: 20px;
}

.playlist-card > img {
    width: 128px;
    height: 128px;
}

.playlist-card > div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.playlist-card > div > h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    white-space: nowrap;
}

.playlist-card > div > em {
    margin-top: -15px;
}

.playlist-card > div > svg {
    display: block;
    width: 48px;
    height: 48px;
    margin-top: 6px;
    fill: rgba(0, 255, 0, 0.8);
}

.playlist-card > div > svg:hover {
    fill: rgba(0, 255, 0, 1);
}

footer {
    background-color: rgb(25 25 25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 130px;
    z-index: 1;
}

footer img {
    width: 128px;
}

.svg-button {
    fill: rgba(255, 255, 255, 0.8);
}

.svg-button:hover {
    fill: rgba(255, 255, 255, 1);
}

.svg-button.active {
    fill: rgba(0, 255, 0, 0.8);
}

.svg-button.active:hover {
    fill: rgba(0, 255, 0, 1)
}

.player {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.player-buttons {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 15px;
}

.player-buttons > div {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.player-buttons svg {
    display: inline-block;
    fill: rgba(255, 255, 255, 0.8);
    width: 24px;
    padding: 0 10px;
}

svg.main-button {
    margin-bottom: -6px;
}

.player-buttons svg:hover {
    fill: rgba(255, 255, 255, 1);
}

.player-buttons svg.active {
    fill: rgba(0, 255, 0, 0.8);
}

.player-buttons svg.inactive {
    display: none;
}

.player-buttons #play, .player-buttons #pause {
    height: 36px;
    width: 36px;
    fill: rgba(0, 255, 0, 0.8);
}

.player-buttons #play:hover, .player-buttons #pause:hover {
    height: 36px;
    width: 36px;
        fill: rgba(0, 255, 0, 1);
}

.seeker {
    width: 100%;
    min-width: 350px;
    max-width: 450px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 0;
    cursor: grab;
}

.seeker-background {
    width: 75%;
    background: rgba(0, 0, 0, 1);
    margin: 5px 20px;
    border-radius: 5px;
    height: 7px;
}

.seeker-foreground {
    width: 50%;
    background: rgba(255,255,255,0.3);
    border-radius: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.seeker:hover > .seeker-background > .seeker-foreground,
.seeker:active > .seeker-background > .seeker-foreground {
    background-color: rgba(0, 255, 0, 0.8);

}
.seeker-thumb {
    position: absolute;
    visibility: hidden;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    margin-left: -6px;
    left: 100%;
    background-color: rgba(255,255,255,1);
}

.seeker:hover > .seeker-background > .seeker-foreground > .seeker-thumb,
.seeker:active > .seeker-background > .seeker-foreground > .seeker-thumb {
    visibility: visible;
}

.footer-side-buttons {
    display: flex;
}

