@font-face {
    font-family: 'Roboto';
    src: url("assets/Roboto/Roboto-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: 'Roboto';
    src: url("assets/Roboto/Roboto-ThinItalic.ttf");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("assets/Roboto/Roboto-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("assets/Roboto/Roboto-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("assets/Roboto/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url("assets/Roboto/Roboto-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("assets/Roboto/Roboto-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("assets/Roboto/Roboto-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("assets/Roboto/Roboto-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("assets/Roboto/Roboto-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("assets/Roboto/Roboto-Black.ttf");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("assets/Roboto/Roboto-BlackItalic.ttf");
    font-weight: 900;
    font-style: italic;
}

* {
    box-sizing: border-box;
}

/* HEADER STYLING */
html {
    height: 100%;
    box-sizing: border-box;

}

body {
    background-color: #121212;
    color: white;
    font-family: 'Roboto', serif;
    font-weight: 300;
    font-size: 14px;
    box-sizing: border-box;
    line-height: 1.2em;
    user-select: none;
    min-width: 270px;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header-container {
    display: flex;
    flex-direction: row;

    background-image: url("./assets/headerbg.png");
    animation-name: header-animation;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-app-region: drag;

}

h1 {
    font-weight: 100;
    font-size: 1.5em;
    margin: 0;
    padding-bottom: 0.3em;
    flex-grow: 1;

    transition: all 0.5s;


}

h1::before {
    background-image: url("assets/btecify1024.png");
    background-size: 1em 1em;
    display: inline-block;
    height: 1em;
    width: 1em;
    margin-right: 0.3em;
    content: "";
    position: relative;
    top: 0.1em;
}

.audio-visualiser {
    margin-left: 10px;
    height: 28.3px;
    flex: 10000;
}

@keyframes header-animation {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: 2000px;
    }
}

.app-close {
    -webkit-app-region: none;
}

h2 {
    font-weight: 400;
}

h3 {
    font-weight: 300;
}

nav {
    display: flex;
    justify-content: flex-start;
    overflow: auto;
    height: 30px;
}
nav button {
    border: 0;
    padding: 4px 0 0 0;
    margin: 0;

    background-color: rgba(255, 255, 255, 0.05);
    color: inherit;
    min-width: 100px;
    height: 1.5em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s 0.15s ease;

}


nav button:hover,
nav button.active {
    background-color: rgba(255, 255, 255, 0.15);
    height: 2em;
    transition: all 0.2s ease-in-out;
}

nav button::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;

    transition: all 0.1s linear;
}

nav button.active::after {
    background-color: rgb(0,255,0);
    width: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*CONTEXT MENU STYLING*/
#poppers {
    z-index: 100;
}

.context-menu {
    background-color: #484848;
    border-radius: 5px;
    min-width: 100px;
    padding: 5px 0;
    z-index: 100;
    border: 1px white solid;
    height: auto;
}

.submenu.closed {
    min-width: 0;
    max-width: 0;
}

.submenu {
    max-width: 100vw;
    min-width: 100px;
    overflow: hidden;
    transition: max-width ease 0.5s 0.5s, min-width ease 0.5s;
}

.context-menu.disabled {
    visibility: hidden;
}

.context-menu hr {
    border: #d3d3d3 solid 2px;
}

.context-menu-item {
    padding: 5px 5px;
    justify-content: center;
    align-items: center ;
    display: flex;
}

.context-menu-item.extend {
    padding-right: 12px;
    padding-left: 12px;
}

.context-menu-item.extend::after {
    content: url("./assets/svg/arrow_drop_down_white_24dp.svg");
    width: 12px;
    height: 12px;
    transform: rotate(270deg);
    position: relative;
    left: 5px;
    top: 5px;
}

.context-menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.context-menu-item.button:active {
    background-color: rgba(255, 255, 255, 0.3);
}

.context-menu-item.disabled {
    color: #a9a9a9
}

.context-menu-item.disabled:hover {
    background-color: unset;
}

.context-menu-item.disabled:active {
    background-color: unset;
}

@keyframes submenu-open {
    from {
        max-width: 0;
    }
    to {
        max-width: 1px;
    }
}

/*DIALOG STYLING*/
.dialog-background {
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-foreground {
    min-width: 300px;
    min-height: 200px;
    border-radius: 5px;
    border: 2px solid #818181;
    background-color: #1f1f1f;

    display: flex;
    flex-direction: column;
}

.dialog-foreground h1 {
    -webkit-app-region: none;
    display: flex;
    align-items: center;
    padding: 0.1em;
}

.dialog-foreground h1 em {
    flex: 1;
}

/* MAIN STYLING */
main {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow-x: scroll;
    padding: 0;
    width: 200vw;
}

main > * {
    width: 100vw;
    max-width: 100vw;
    flex: 1;
    overflow: hidden;
}

main.switching > *{
    transition: max-width 0.7s ease-out;
}

main > *.switching {
    transition: max-width 0.7s ease-out;
/*    If you change me, change in index.js as well*/
}

main > *.hidden {
    max-width: 0;
}

/* HOME PAGE STYLING */
#home-nav-page {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.playlists-container {
    display: flex;
    flex: 1 1 0;
    height: 100%;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.02);
}

#placeholder-card {
    display: none;
}

.playlist-card {
    background-color: rgb(38, 38, 38);
    display: flex;
    width: 300px;
    height: 150px;
    justify-content: flex-start;
    align-content: center;
    margin: 5px;
    border-radius: 20px;
    border: solid 1px rgb(0, 0, 0);

    transition: all 0.5s;
}

.playlist-card:hover {
    /*transform: scale(1.05);*/

    border: solid 1px rgb(119, 119, 119);
}

.playlist-card.selected {
    border: solid 1px rgb(27, 108, 4);
}

.playlist-card.selected:hover {
    border: solid 1px rgb(42, 161, 9);
    box-shadow: #173d13 0 0 10px 3px;
}

/*.playlist-card:hover > div > svg{*/
/*    fill: rgba(0, 255, 0, 0.65);*/
/*}*/

.playlist-card > .img-div {
    width: 50%;
    height: calc(100% - 30px);
    margin: 15px 15px 15px 15px;
    background: #363636 center;
    background-size: cover;
}

.playlist-card > div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    flex: 1;
}

.playlist-card > div > h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    white-space: nowrap;
}

.playlist-card > div > em {
    max-width: 150px;
    margin-top: -15px;
}

.playlist-card > div > svg {
    width: 48px;
    height: 48px;
    margin-top: 6px;
    align-self: center;
    fill: rgb(112, 112, 112);

    transition: all 0.3s ease;
}

.playlist-card > div > svg:hover {
    fill: rgba(0, 255, 0, 0.9);
    filter: drop-shadow(0 0 5px #090);
}

.playlist-card > div > svg:active {
    fill: rgba(0, 255, 0, 0.7);
    filter: drop-shadow(0 0 5px #000000);
}


/* PLAYLIST PAGE STYLING */

#playlist-nav-page {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-height: 0;
}

.playlist-section {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    padding: 10px 16px 0 16px;
    min-width: 0;
}

.playlist-select {
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.playlist-select::after {
    content: "";
    background-image: url("assets/svg/arrow_drop_down_white_24dp.svg");
    width: 2em;
    height: 2em;
    background-size: 2em 2em;
    position: absolute;
    right: 0;
    transform: rotate(90deg);
    transition: transform 0.3s 0.6s ease;
}

.playlist-select:hover::after,
.playlist-select.hover::after {
    transform: rotate(0);
    transition: transform 0.15s ease;
}

.select-dropdown {
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    max-height: 0;
    transition: all 0.4s 0.2s ease;
    overflow-y: scroll;
    overflow-x: hidden;
}

.playlist-select:hover + .select-dropdown,
.select-dropdown:hover {
    max-height: 30%;
    transition: all 0.4s 0.15s ease;
}

.select-dropdown > * {
    text-align: center;
    padding: 1px 0 1px 0;
    color: rgb(224, 224, 224);

    transition: all 0.1s ease;
}

.select-dropdown > *:hover {
    font-size: 1.2em;
    color: rgb(255, 255, 255)
}

.select-dropdown > *.selected {
    color: rgb(0, 255, 0);
}

.select-dropdown > *.disabled {
    font-size: 1em;
    color: rgb(145, 145, 145)
}

.select-dropdown :nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}

.song-list, .playlist-list-select {
    margin-top: 1em;
    background-color: #0c0c0c;
    border: 3px #212121 solid;
    flex-shrink: 100;
    overflow-y: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.song-list-list {
    flex-shrink: 100;
    overflow-y: scroll;
}

.song-list .song-list-search {
    position: absolute;
    height: 0;
    overflow: hidden;
    bottom: 0;
    right: 0;
    background-color: #2b2b2b;

    transition: all 0.5s ease;
}

.song-list .song-list-search span{
    position: relative;
    margin-right: 24px;
    padding-top: 2px;
    padding-left: 3px;
}

.song-list .song-list-search.active {
    height: 19px;
    border: #059108 solid 1px;
}

.song-list .song-list-search span::after {
    content: url('./assets/svg/search_white_24dp.svg');
    position: absolute;
    width: 12px;
    height: 12px;
    top: 0;
}

#global-search {
    position: fixed;
    border: 0;
    margin: 0;
    padding: 0;
    height: 0;
    width: 0;
}

.song-list-item-container {
    height: 84px;
}

.song-list-item-container.seen {
    height: auto;
}

.song-list-item {
    background: #0c0c0c;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    transition: all 0.3s ease;
    text-decoration-line: line-through;
}

.song-list-item.enabled {
    text-decoration-line: none;
}

.song-list-item.super {
    background: #33402e;
}

.song-list-item.sub {
    background: #3e2325;
}

.song-list-item * {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

.song-list-item > .thumb-title-artist {
    display: flex;
    justify-content: flex-start;
    gap: 0.5em;
    flex: 1;
}

.song-list-item .title-artist {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.song-list-item .title {
    margin: 5px;
}

.song-list-item .artist {
    margin: 0 5px 5px 5px;
    font-size: 0.9em;
    color: #dedede
}

.song-list-item .album {
    text-align: center;
    margin-right: 1em;
}

.song-list-item .duration {
    margin-top: 4px;
    color: #dedede;
}

.song-list-item .thumb {
    width: 64px;
    height: 64px;
    align-self: center;
    background-size: cover;
    background-color: #2b2b2b;
    background-position: center;
}

.song-list .song-item-buttons {
    margin-left: 5px;
}

.song-list-item:hover {
    background: #1e1e1e;
}

.song-list-item.super:hover {
    background: #315429;
}

.song-list-item:hover .artist {
    color: white;
}

.song-list-item:hover .duration {
    color: white;
}

.song-list-item .svg-button.hidden {
    display: none;
}

span.highlight-text {
    color: #00ff00;
    background-color: #163b01;
}

/* SONG PAGE */
#song-nav-page {
    display: flex;
    flex-direction: column;
}

/* VIEWS */
.view {
    display: flex;
    flex-direction: column;
}

.view-header {
    display: flex;
    align-items: center;
    background: #0c0c0c;
}

.view-back {
    margin-left: 5px;
    margin-right: 10px;
}

.view-contents {
    width: 100%;
    flex: 1;
}

#queue-view {
    display: flex;
    flex-direction: column;
}

#new-song-view .view-contents {
    padding: 15px;
    display: flex;
    gap: 25px;
    justify-content: space-between;

    /*Not sure why this works but it stops overflow.*/
    height: 0;
}

.inputs, form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-end;
}

input[type=submit] {
    background-color: #173d13;
    min-width: 50px;
    color: #bebebe;
    align-self: center;
    border: 1px #308128 solid;
    margin-right: 5px;
    padding: 2px 5px;
}

input[type=submit]:hover, input:focus, input:focus-visible {
    box-shadow: 0 0 5px #056701;
    border: 1px #308128 solid;
    outline: none;
}

input[type=submit]:active {
    filter: brightness(125%);
}

input[type=text] {
    flex: 1;
    color: #dedede;
    background-color: #2d2d2d;
    border: 1px solid #264926;
}

input[type=text][disabled] {
    border: 1px outset #3a3a3a;
    color: #a2a2a2;
}

#new-song-view label {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1em;
    width: 100%
}

label > input {
    max-width: calc(100% - 12ch);
}

#new-song-view .playlist-list-select {
    margin-top: 0;
    flex: 1;
    height: fit-content;
    max-height: 100%;
}

.playlist-list-select .playlist-list-item {
    background: #131313;
    font-size: 1.5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease;
}

.playlist-list-select .playlist-list-item.selected {
    background: #232920;
}

.playlist-list-select .playlist-list-item:hover {
    background: #1d1d1d;
}

.playlist-list-select .playlist-list-item.selected:hover {
    background: #2a3428;
}

#new-song-view .thumb-and-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#new-song-view .thumb-and-submit img {
    width: 256px;
    height: 256px;
    object-fit: cover;
    border: 2px solid #414941;
    box-sizing: content-box;
}

/* FOOTER PLAYER  */
footer {
    background-color: rgb(25 25 25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 130px;
    z-index: 1;
}

footer .footer-left-info {
    height: 100%;
    width: 30%;
    display: flex;
    flex: 1;

}

footer .song-info {
    height: 100%;
    padding-left: 12px;
    overflow: hidden;
}


footer img {
    width: 110px;
    height: 110px;
    margin-left: 10px;
    object-fit: cover;
    align-self: center;
}

.svg-button {
    fill: rgba(255, 255, 255, 0.8);
}

.svg-button:hover {
    fill: rgba(255, 255, 255, 1);
    filter: drop-shadow(0 0 5px #fff);
}

.svg-button:active {
    fill: rgba(255, 255, 255, 0.7);
    filter: drop-shadow(0 0 5px #000000);
}

.svg-button.active {
    fill: rgba(0, 255, 0, 0.8);
}

.svg-button.active:hover {
    fill: rgba(0, 255, 0, 1);
    filter: drop-shadow(0 0 5px #0f0);
}

.svg-button.active:active {
    fill: rgba(0, 255, 0, 0.7);
    filter: drop-shadow(0 0 5px #000000);
}

.player {
    width: 40%;
    max-width: 460px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.player-buttons {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 15px;
}

.player-buttons > div {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.player-buttons svg {
    box-sizing: content-box;
    display: inline-block;
    fill: rgba(255, 255, 255, 0.8);
    width: 24px;
    padding: 0 10px;
}

svg.main-button {
    margin-bottom: -6px;
}

svg.inactive {
    display: none;
}

.player-buttons #play, .player-buttons #pause {
    height: 36px;
    width: 36px;
    fill: rgba(0, 255, 0, 0.8);
}

.player-buttons #play:hover, .player-buttons #pause:hover {
    fill: rgba(0, 255, 0, 1);
    filter: drop-shadow(0 0 5px #0f0);
}

.player-buttons #play:active, .player-buttons #pause:active {
    fill: rgba(0, 255, 0, 0.7);
    filter: drop-shadow(0 0 5px #000000);
}

.seeker {
    width: 100%;
    min-width: 350px;
    max-width: 450px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 0;
    cursor: grab;
}

.seeker-background {
    width: 75%;
    background: rgba(0, 0, 0, 1);
    margin: 5px 20px;
    border-radius: 5px;
    height: 7px;
}

.seeker-foreground {
    width: 0%;
    background: rgba(255,255,255,0.3);
    border-radius: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;

    transition: background-color 0.2s ease,
                width 0.2s -0.05s;
}

.seeker:hover > .seeker-background > .seeker-foreground,
.seeker:active > .seeker-background > .seeker-foreground {
    background-color: rgba(0, 255, 0, 0.8);

}
.seeker-thumb {
    position: absolute;
    border-radius: 50%;
    height: 0;
    width: 0;
    margin-left: 0;
    left: 100%;
    background-color: rgba(255,255,255,0);

    transition: all 0.15s ease-out;
}

.seeker:hover > .seeker-background > .seeker-foreground > .seeker-thumb,
.seeker:active > .seeker-background > .seeker-foreground > .seeker-thumb {
    background-color: rgba(255,255,255,1);
    height: 12px;
    width: 12px;
    margin-left: -6px;
}

.footer-side-buttons {
    display: flex;
    width: 30%;
    justify-content: flex-end;
    flex: 1;
    padding-right: 10px;
}

.footer-side-buttons > * {
    margin-left: 8px;
}

.volume-seeker {
    width: 100%;
    max-width: 150px;
    min-width: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: grab;
    padding: 0;
}

.volume-seeker .seeker-background {
    width: 100%;
    margin: 0;
}

